<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bigboss.antenergyqr" version="4.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>蚂蚁能量收款码</name>
    <description>智能提取收款二维码，官方模板美化，支持多人扫码支付</description>
    <author email="bigboss@example.com" href="https://github.com/Bigboss6797976">BigBoss Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Fullscreen" value="false" />
        <preference name="Orientation" value="portrait" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="StatusBarBackgroundColor" value="#0f0c29" />
        <preference name="BackgroundColor" value="0xff0f0c29" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
    <plugin name="cordova-plugin-file" spec="6.0.2" />
</widget>
